<form action="/cars" method="post">
  <label for="makeModel">Add the Year Make and Model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Add the Blue Book Value</label>
  <input id="price" name="price" type="text">
  <label for="miles">Add the Current Mileage</label>
  <input id="miles" name="miles" type="text">
  <label for="message">Add More Info About this Car</label>
  <input id="message" name="message" type="text">
  <button type="submit">Submit</button>
</form>